.apps__unit {
  height: 8rem;
  border-radius: 1.3rem;
  width: 8rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-grey-100);
  cursor: pointer;
}

.apps__unit:hover {
  border: 2px dotted var(--color-slate-700);
}

.apps__unit .apps__unit--link {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-purple-400);
}

.apps__unit--text-first {
  font-size: 1.4rem;
  font-weight: 600;
}

.fa-grip {
  font-size: 3rem;
}

.apps__unit img {
  width: 3.5rem;
  height: 3.5rem;
}

.apps::-webkit-scrollbar {
  width: 0.5rem;
}

.apps::-webkit-scrollbar-track {
  display: none;
}

.apps::-webkit-scrollbar-thumb {
  display: none;
}
