.container {
  display: grid;
  grid-template-rows: 5rem 10rem min-content;
  grid-template-columns:
    [main-start] minmax(12rem, 1fr) [center-start] minmax(24rem, 2fr)
    [center-end] minmax(12rem, 1fr) [main-end];
  max-width: 112.4rem;
  margin: 0 auto;
  gap: 1.6rem;
}

.settings-and-account {
  grid-column: main-start / main-end;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.todo {
  grid-column: center-end / main-end;
  grid-row: 2 / 4;
  background-color: var(--color-primary);
  height: 80dvh;
  border-radius: var(--radius-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
}

.apps {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-items: center;
  align-content: start;
  row-gap: 0.8rem;
  direction: rtl;
  /* grid-template-rows: repeat(auto-fit); */
}

.weather-and-time {
  grid-column: center-start / main-start;
  grid-row: 2 / 4;
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  height: 28.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  text-align: right;
  direction: rtl;
  overflow: hidden;
}
