/* 1px = 10rem */

.container {
  display: grid;
  grid-template-rows: 5rem calc(100dvh - 15rem);
  grid-template-columns:
    [main-start] minmax(12rem, 1fr) [center-start] minmax(24rem, 2fr)
    [center-end] minmax(12rem, 1fr) [main-end];
  max-width: 112.4rem;
  margin: 0 auto;
  gap: 1.6rem;
}

.settings-and-account {
  grid-column: main-start / main-end;
  grid-row: 1 / 2;
}

.todo {
  grid-column: center-end / main-end;
  grid-row: 2 / 3;
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-and-apps {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
}

.weather-and-time {
  grid-column: center-start / main-start;
  grid-row: 2 / 3;
}
